 .carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
     
      .slide-wrapper {
    position: relative;
          height: 656px;
		  margin-top: -90px;
}
    .main-text
{
    position: absolute;
    top: 276px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
            #homepage-feature .item {
    overflow: hidden;
    height: 400px;
    background-color: transparent;
    background-size: cover;
}
#homepage-feature > .carousel-control {
    width: 30px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    
    filter: none;
    opacity: 1;
}
#homepage-feature > .carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}
.item{
    background-color: #4ca9f6;
    height: 656px;
}
#maindiv{
    margin-top: 40px;
    color: #fff;
    
}
#maindiv1{
    margin-top: 100px;
    color: #fff;
    
}